<%- include('partials/header') %>
<body class="homepage"></body>
<main class="homepage">
  <div class="journal-instructions">
  <h1 class="dark">Welcome to Tarot Journal!</h1>
  <h3>How to use:</h3>
    <p>
      <li>Have your tarot deck ready</li>
      <li>Draw your daily card</li>
      <li>Add your daily card entry</li>
      <li>Access the journal of your entry from your log</li>
    </p>
  </div><br>
</main>
</body>
</html>