* {
  box-sizing: border-box;
  font-family: 'Manjari', sans-serif;
}

body.homepage {
background-image: url(/images/moon-clouds.jpg!d);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

body.tarot-log {
background-image: url(/images/moon-clouds.jpg!d);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

body.daily-entry {
background-image: url(/images/background.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

body.add-daily-card {
background-image: url(/images/moon-pinkclouds.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

body.edit-daily-card {
background-image: url(/images/moon-pinkclouds.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: burlywood;
background-blend-mode: screen;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.homepage,
main.new-card {
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  background: rgba(31, 51, 61, 0.7);
  border-radius: 7px;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 30px;
}

.home-logo {
  margin-right: auto;
}

ul.nav-text {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul.nav-text li {
  margin: 0px 10px;
}

nav a,
button.add a:hover,
button.delete {
  text-decoration: none;
  color: whitesmoke;
}

h1{
  color: rgba(207, 209, 207, 0.7);
}

h1.dark {
  color:  rgba(31, 51, 61, 0.7);
}

h2.property-title {
  color: #484A7B;
}

h3 {
  color: #484A7B;
}

#entries-table,
#show-page,
#add-custom-form{
  background-color: rgba(207, 209, 207, 0.7);
  padding: 10px;
  border: 2px solid #31516E;
  border-radius: 10px;
  table-layout: fixed;
  width: 100%;
}

div.journal-instructions {
  background-color: rgba(207, 209, 207, 0.7);
  padding: 10px;
  border: 2px solid #31516E;
  border-radius: 10px;
  text-align: justify;
  width: 600px;
}

div.journal-instructions h1 {
  text-align: center;
}

div.journal-instructions li {
  list-style: decimal;
  margin-bottom: 8px;
}

textarea.description {
  width: 300px;
  height: 150px;
}

#show-page {
 text-align: center;
}

.journal-text {
  width: 600px;
  height: 100px;
}

i.createdAt {
  font-size: 12px;
}

#add-journal-entry {
  margin-bottom: 50px;
}

div.property-title {
  font-size: 15px;
  padding-bottom: 5px;
  /* text-decoration: underline; */
  color: #484A7B;
}

div.value-title {
  font-size: 20px;
  font-weight: bolder;
}

th a {
  text-decoration: none;
  font-size: 12px;
  color: #31516E;
}


nav a:hover,
th a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

thead {
  color: #66551e;
  font-size: 20px;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 30%;
}

thead th:nth-child(5) {
  width: 20%;
}

button.add,
button.delete,
button.edit {
  background-color: transparent;
  border: none;
  padding: 2px;
  font-size: 15px;
}

button.add a {
  text-decoration: none;
  color: rgba(207, 209, 207, 0.7);
}

div.subtitle {
  width: 100%;
  background-color:  rgba(77, 64, 107, 0.7);
}

h2.property-title {
  color: whitesmoke;
}

div.journal-entry {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  border-radius: 5px;
  color: #484A7B;
  margin: 5px;
}

button.delete,
button.edit {
  float: right;
  color: #31516E;
}

button.delete:hover,
button.edit:hover {
  color: black;
  font-weight: bolder;
}

div.new-card {
  text-align: center;
}

input.card-theme,
input.card-name,
input.card-deck,
input.card-date {
  width: 300px;
  text-align: center;
}

/*



main {
  border: 2px solid black;
  background-color: #495087;
  display: flex;
  justify-content: center;
  align-content: center;
}

#add-custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#save-entry-button {
  grid-area: button;
  background-color: black;
  color: white;
}

#save-entry-button:hover {
  font-weight: bolder;
}

.journal-entry {
  height: 150px;
  width: 700px;
}

.description {
  height: 150px;
  width: 300px;
}

.card-name,
input.date {
  width: 300px;
}  */