<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Draw a card from your personal deck.</h1>

    <form id="add-custom-form" action="/entries" method="POST">
    <label>Date</label>
    <input type="date" name="date" class="date">
    <br><br><label>Deck</label>
    <input type="text" name="deck" class="deck">
    <br><br><label>Card</label>
    <input type="text" name="name" class='card-name'>
    <br><br><label>Overall Theme</label>
    <input type="text" name="theme" class='card-theme'>
    <br><br><label>Card description</label>
    <input type="text" class="description" name="description">
    <br><input id="save-entry-button" type="submit" value="Save entry">
    </form>
  </body>
</html>


