<%- include('../../partials/header') %>
  <body class="add-daily-card">
    <main>
    <h1><%= title %></h1>

    <form id="add-custom-form" action="/entries" method="POST">
    <label>Date</label>
    <input type="date" name="date" class="date">
    <br><br><label>Deck</label>
    <input type="text" name="deck" class="deck">
    <br><br><label>Card</label>
    <input type="text" name="name" class='card-name' required>
    <br><br><label>Overall Theme</label>
    <input type="text" name="theme" class='card-theme' required>
    <br><br><label>Card description</label>
    <input type="text" class="description" name="description">
    <br><input id="save-entry-button" type="submit" value="Save entry">
    </form>
    </main>
  </body>
</html>


