Daily Card

<section id="show-page">
        <div>Card: </div>
        <div><%= custom.name %></div>
        <div>Description: </div>
        <div><%= custom.description %></div>
        <div>Journal: </div>
        <div><%= custom.journal %></div>
</section>