<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
<div>
<nav>
  <div class="home-logo"><a href="/">Back Home</a></div>
</div>
</nav>

<main>
  <h1>Welcome to Tarot Journal!</h1>
  <div class="journal-instructions">
    <h3>How to use Tarot Journal</h3>
    <p>
      <li>Have your tarot deck ready</li>
      <li>Draw your daily card</li>
      <li>Add your daily card entry</li>
      <li>Access the journal for your entry to write down all thoughts.  Use your daily card as a prompt to understand the aspects of your life that come forward.</li>
    </p>
  </div>
  <% if (user) { %>
    <a href="/logout">Log out of your Journal</a>
    <% } else { %>
      <a href="/auth/google">Log into your Journal</a>
      <% } %>
</main>
</body>
</html>